{% extends template_to_extend %}

{% block extra_head %}
	<meta name="keywords" content="{{ flatpage.seo_description }}" />
	<meta name="description" content="{{ flatpage.seo_keywords }}" />
{% endblock %}
{% block title %}{{ flatpage.title }}{% endblock %}

{% block precontent %}
	{% if slideshow %}
		{% include slideshow.template_name %}
	{% endif %}
{% endblock %}
{% block content %}
	{% if layout %}
		{% include layout_path %}
	{% endif %}
	{% include "alapage/edit_btn.html" %}
	{% if flatpage.content %}{{ flatpage.content|safe }}{% endif %}
	{% if flatpage.html %}{{ flatpage.html|safe }}{% endif %}
	{% if layout %}
		{% include 'alapage/layouts/bottom.html' %}
	{% endif %}
{% endblock %}